// @import './font-awesome.css';
// @import './streamline-icons.css';
// @import './red.css';
// @import './health.css';

.navbar-brand {
	img {
		max-width: 70px;
	}
	margin-right: 0;
}
.navbar {
	.container {
		justify-content: center;
	}
	@media only screen and (min-width: 768px) {
		.container {
			justify-content: space-between;
		}
	}
}
.caption {
	margin-top: 1.3rem;
}
.caption-text {
	padding: 0 1rem;
}
.appointment-form .form-header {
	background-color: #009a94;
	border-color: #009a94;
}
.contact {
	.row {
		justify-content: space-around;
	}
	a {
		font-size: 1.5rem;
		display: block;
		text-align: center;
		@media screen and (min-width: 768px) {
			font-size: 2.4rem;
		}
		&:hover {
			text-decoration: none;
		}
	}
}
.medical_bg {
	background-position: initial;
	@media only screen and (min-width: 576px) {
		background-position: 10% 50%;
	}
}

.social-icons a {
	font-size: 2rem;
}

.benefit-icon {
	svg {
		color: #009a94;
		font-size: 3.3rem;
	}
}

.back_to_top {
	color: #009a94;
}

.terminos {
	margin-top: 1rem;
}
